{
	"db": "root:@tcp(127.0.0.1:3306)/neko",
    "web": "127.0.0.0.1:4994",
    "username": "username",
    "password": "plaintextexamplepasswordpleasereplacethis",
    "static_dir": "absolute/directory/to/neko/static"
}
