html {
    font-size: 18px;
}
body {
    font-size: 1.0000rem;
    line-height: 1.500rem;
    min-width: 45rem;
}
h1 {
    font-size: 3.1875rem;
    line-height: 3.7500rem;
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
}
h2 {
    font-size: 1.7500rem;
    line-height: 2.5000rem;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
}
h3 {
    font-size: 1.3125rem;
    line-height: 2.5000rem;
    margin-top: 1.25rem;
    margin-bottom: 0rem;
}
p, ul {
    margin-top: 0rem;
    margin-bottom: 1.25rem;
}

blockquote {
    padding: 1rem 1rem 0 1rem;
}

body {
    font-family: Palatino, Georgia;
}

h1, h2, h3, h4, h5, #controls {
    font-family: 'Helvetica Neue';
    font-weight: 'bold';
}

#controls, .control {
    font-variant: small-caps;
    text-transform: lowercase;
}


#controls ul {
    margin-top: 1em;
    padding: 0;
}

#controls li {
    list-style: none;
    margin-left: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

a, a:hover, a:active {
    text-decoration: none;
    color: blue;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin-top: 1em;
}

p.dateline {
    margin-top: 0;
    font-weight: normal;
    font-size: .75em;
    color: #ccc;
}

.item {
    padding: 1rem;
    margin-top: 5rem;
}

h3 {
    padding: 0;
    margin: 0;
}

#items {
    margin: 2rem auto;
    max-width: 35rem;
    overflow: hidden;
}


#filters {
    position: fixed;
    top: 0em;
    left: 1em;
    width: 10rem;
    cursor: pointer;
    color: #777;
    height: 95%;
    overflow-y: auto;
}

#tags, #feeds {
    font-family: 'Helvetica Neue';
    list-style: none;
    margin: 0;
    padding: 0;
}

#tags li, #feeds li {
    font-weight: bold;
    font-size: .75em;
}

pre {
    display: none;
}

.read {
}

.selected {
}

.newFilter {
    color: black;
}


.all .newFilter {
    color: #777;
}

.logo {
    font-size: 14px; 
    margin: 1em 0 0 0;
    color: black;
    line-height: 1em;
}

.hasunread {
    color: blue;
}

.active, .all .everythingFilter {
    color: black;
}

.full {
    cursor: pointer;
}

.star {
    color: black;
    cursor: pointer;
}

.unstar {
    color: blue;
    cursor: pointer;
}

#loading {
    width: 100%;
    font-size: 24px;
    background-color: #ccc;
}

button {
    font-family: 'Helvetica Neue';
    font-size: 16px;
    padding: 3px 10px;
    background: white;
    color: blue;
    font-weight: bold;
    border: solid 1px #ccc;
}


@media only screen and (max-device-width: 768px) {
    html {
        width: 100%;
        font-size: 22px;
    }

    body {
        min-width: 0;
        width: 100%;
        max-width: 100%;
    }


   #filters h4, #filters h1 {
        display: none;
    } 

    #controls {
        width: 100%;
        font-size: 1.5rem;
    }

    #controls ul {
        padding: 0;
        margin: 0;
        text-align: center;
    }

    #controls li {
        display: inline;
    }

    #filters {
        width: 100%;
        height: 50px;
        position: fixed;
        top: 0;
        left: 0;
        background: #ccc;
    }


    #items {
        margin: 0 auto;
        max-width: 100%;
    }
}

@media only screen and (max-device-width: 400px) {
    html {
        font-size: 16px;
    }

    body {
        min-width: 0;
        width: 100%;
    }
}
