<!DOCTYPE html>
<html>
  <head>
    <title>neko rss mode</title>
    <link rel="stylesheet" href="/static/style.css" />
    <script src="/static/jquery-3.3.1.min.js"></script>
    <script src="/static/jquery.tmpl.min.js"></script>
    <script src="/static/underscore-1.8.3.min.js"></script>
    <script src="/static/backbone-1.3.3.min.js"></script>
    <script>
      PUBLIC_VERSION = false;
    </script>
    <script src="/static/ui.js"></script>
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1, maximum-scale=1" />
    <base target="_blank">
  </head>
  <body>
      <h1 class="logo" onclick="$('#filters').toggleClass('hidden');">🐱</h1>

      <div id="filters">

        <div id="controls"></div>
        <h4 onclick="$('#tags').toggle();">Tags</h4>        
        <ul id="tags" style="display: none;">
        </ul>
        
        <h4 onclick="$('#feeds').toggle();">Feeds</h4>        
        <ul id="feeds" style="display: none;">
        </ul>
        </div>

    </div>

   <div id="c">
      <div id="items">
      </div>      
    </div>
    
    <script id="item_template" type="text/jqtmp">
      <h2><a class="i" id="i_${item_id}" href="${item.url}">${item.title }</a> 
    <span class={{if item.starred}}"unstar"{{else}}"star"{{/if}}>★</span>
    </h2>
      <p class="dateline" style="clear: both;">
        <a href="${item.feed_url}">${item.feed_title}</a> | <a href="${item.url}">${item.p_url}</a>
    | ${item.feed_category} |
    <span class="full">{{if item.full}}hide{{else}}scrape{{/if}} full text</span>
    
    </p>
      {{if item.header_image}}
      <div class="img"><img src="${item.header_image}" /></div>
      {{/if}}
      <div class="description">
        {{if item.full}}
           {{html item.full_content}}
        {{else}}
           {{html item.description}}
        {{/if}}
      </div>
    </script>

    <script id="tag_template" type="text/jqtmp">
      {{if tag.selected}}<b>{{/if}}
      ${tag.title}
      {{if tag.selected}}</b>{{/if}}
    </script>

    <script id="feed_template" type="text/jqtmp">
      {{if feed.selected}}<b>{{/if}}
      <span class="txt">
      {{if feed.title}}
      ${feed.title}
      {{else}}
      ${feed.url}
      {{/if}}

      </span>
      <span class="edit">[e]</span>
      <span class="delete">[x]</span>
      {{if feed.selected}}</b>{{/if}}
    </script>

    <script id="controls_template" type="text/jqtmp">
      <ul>
        <li>
          <a {{if app.unreadFilter}}style="font-weight: bold;"{{/if}} 
             class="unread_filter">unread</a>
        </li>
        <li>
          <a 
             {{if app.allFilter}}style="font-weight: bold;"{{/if}} 
             class="all_filter">all</a> 
        </li>
        <li>
         <a {{if app.starredFilter}}style="font-weight: bold;"{{/if}}
            class="starred_filter">★ starred</a>
        </li>
        <li>
          <button class="new_feed"> + </button>
        </li>
		<li>
		</li>

	  </ul>
   </script>  
   
</body>
</html>  
