<!DOCTYPE html>
<html>
  <head>
    <title>neko rss mode</title>
    <link rel="stylesheet" href="/static/style.css" />
    <script src="/static/jquery.min.js"></script>
    <script src="/static/jquery.tmpl.min.js"></script>
    <script src="/static/underscore.min.js"></script>
    <script src="/static/backbone.min.js"></script>
    <script>
      PUBLIC_VERSION = false;
    </script>
    <script src="/static/ui.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  </head>
  <body>

      <div id="filters">
        <h1 class="logo">neko</h1> 

        <div id="controls"></div>

        <h4 onclick="$('#feeds').toggle();">Feeds</h4>        
        <ul id="feeds" style="display: none;">
          <li><a href="/import/">import</a></li>
        </ul>

    </div>

   <div id="c">
      <div id="items">      
      </div>      
    </div>
    
    <script id="item_template" type="text/jqtmp">
      <h2><a target="_blank" class="i" id="i_${item_id}" href="${item.url}">${item.title }</a> 
    <span class={{if item.starred}}"unstar"{{else}}"star"{{/if}}>★</span>
    <span class="full">{{if item.full}}▼{{else}}►{{/if}}</span>
    </h2>
      <p class="dateline" style="clear: both;">
        <a href="${item.feed_url}">${item.feed_title}</a> | <a href="${item.url}">${item.p_url}</a>
    </p>
      {{if item.header_image}}
      <div class="img"><img src="${item.header_image}" /></div>
      {{/if}}
      <div class="description">
        {{if item.full}}
           {{html item.full_content}}
        {{else}}
           {{html item.description}}
        {{/if}}
      </div>
    </script>

    <script id="tag_template" type="text/jqtmp">
      ${tag.name} ${tag.unread}
    </script>

    <script id="feed_template" type="text/jqtmp">
      <span class="txt">
      {{if feed.title}}
      ${feed.title}
      {{else}}
      ${feed.url}
      {{/if}}
      </span>

      <span class="delete" style="color: red;">[X]</span>
    </script>

    <script id="controls_template" type="text/jqtmp">

      
      <ul>
        <li>
          <a {{if app.unreadFilter}}style="font-weight: bold;"{{/if}} 
             class="unread_filter">unread</a>
        </li>
        <li>
          <a 
             {{if app.allFilter}}style="font-weight: bold;"{{/if}} 
             class="all_filter">all</a> 
        </li>
        <li>
         <a {{if app.starredFilter}}style="font-weight: bold;"{{/if}}
            class="starred_filter">★ starred</a>
        </li>
        <li>
          <button class="new_feed"> + </button>
        </li>
		<li>
		</li>

	  </ul>
   </script>  
   
</body>
</html>  
