body {
  font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
}

h1,
h2,
h3,
h4,
h5,
.logo,
.nav-link,
.logout-btn {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  /* Light Mode Defaults */
  --bg-color: #ffffff;
  --text-color: rgba(0, 0, 0, 0.87);
  --sidebar-bg: #ccc;
  --link-color: #0000EE;
  /* Standard blue link */

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #24292e;
    /* Legacy Dark */
    --text-color: #ffffff;
    --sidebar-bg: #1b1f23;
    /* Darker sidebar */
    --link-color: rgb(90, 200, 250);
    /* Legacy dark link */
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: blue;
    text-decoration: underline;
  }

  button {
    background-color: #f9f9f9;
  }
}